// Scrollbars
::-webkit-scrollbar{
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-track{
	opacity: 0;
}

::-webkit-scrollbar-thumb{
	background: #323742;
}

// footer
body #playlist-button{
	background: -webkit-linear-gradient(top,#FFC876 0,#D87F0E 100%);
	background: linear-gradient(top, #FFC876 0,#D87F0E  100%) !important;
}

// vote
#grab .bottom, #grab.selected{
	background: #C0C006;
}

// Remove all the awful purple
.icon{
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/icons.png') !important;
}
.media-list.history .score .grabs span{
	color: #FBFFA5 !important;
}
.is-dj .name, .is-staff .name{
	color: #FBFFA5 !important;
}
#playlist-activate-button span{
	color: #FBFFA5 !important;
}
#playlist-menu .menu .row .count{
	color: #FBFFA5 !important;
}
#playlist-menu .menu .row.selected{
	background-color: #D87F0E !important;
}

// Remove social media icons (seriously, who uses those?)
.social-menu{
	display: none !important;
}