/* Universal chat styles */
#chat{
	.from.staff{
		color: #FBFFA5 !important;
	}
	.welcome {
		color: #00CCFF !important;
		font-weight: bold !important;
	}
	.mention{
		background-color: #414040;
	}
	.from.dj{
		color: #FBFFA5 !important;
	}
	.is-dj .name{
		color: #60E665 !important;
	}
	.moderation{
		color: #C94304 !important;

		.from{
			color: #C94304 !important;
		}
	}
	z-index: 30 !important;


	// Chat image styles
	.plugpro-chat-image-container{
		position: relative;

		.plugpro-chat-image-url{
			display: none;
		}
		.plugpro-chat-image{
			max-height: 200px;
			max-width: 100%;
			width: auto;
		}
		.plugpro-chat-image-close{
			cursor: pointer;
			display: none;
			position: absolute;
			left: 0;
			width: 1em;
			height: 1em;
			font-family: "times new roman", arial;
			font-size: 1.25rem;
			line-height: 1;
			text-align: center;
			color: #fff;
			background: rgba(255,0,0,0.5);
			padding: .05em .1em .05em 0;
			text-shadow: 0 .05em .1em rgba(0,0,0,0.5);
		}
	}
}
