/* Universal chat styles */
#chat{
	.from.staff{
		color: #FBFFA5 !important;
	}
	.welcome {
		color: #00CCFF !important;
		font-weight: bold !important;
	}
	.mention{
		background-color: #414040;
	}
	.from.dj{
		color: #FBFFA5 !important;
	}
	.is-dj .name{
		color: #60E665 !important;
	}
	.moderation{
		color: #C94304 !important;

		.from{
			color: #C94304 !important;
		}
	}
	z-index: 30 !important;


	// Chat image styles
	.plugpro-chat-image-container{
		position: relative;

		.plugpro-chat-image-url{
			display: none;
		}
		.plugpro-chat-image{
			max-height: 200px;
			max-width: 100%;
			width: auto;
		}
		.plugpro-chat-image-close{
			cursor: pointer;
			display: none;
			height: 34px;
			position: absolute;
			right: 0;
			width: 34px;
		}
	}
	
	.promo {
		display: none;
	}
}
