// The PlugPro menu addition
#plugpro-menu{
	background-color: #111;
	height: 900px;
	left: 0;
	overflow: hidden;
	position: absolute;
	width: 0;
	z-index: -9999;

	@include transition (width .15s ease-out);

	&.expanded{
		width: 480px;
	}

	.inner-pro-menu{
		margin-left: 180px;
		text-align: center;

		.pro-logo{
			height: 50px;
			margin: 0 auto 7px;
		}

		.github-link{
			background-color: #8B0;
			color: #fff;
			display: block;
			font-size: 23px;
			margin-bottom: 18px;
			overflow: hidden;
			padding: 7px 20px;
			text-decoration: none;

			&:hover{
				background-color: #A9E800;
			}


			img{
				float: left;
			}

			.github-text{
				font-weight: bold;
				margin-left: 70px;
			}
		}

		#pro-toggle-settings{
			@extend .unstyled_list;

			margin: 0 10px;

			li{
				border-bottom: 1px solid #aaa;
				overflow: hidden;
				padding: 2px;
			}

			.setting-title{
				float: left;
				font-size: 16px;
				font-weight: bold;
				line-height: 31px;
			}

			.onoffswitch {
				float: right;
				position: relative; width: 72px;
				-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
			}
			.onoffswitch-checkbox {
				display: none;
			}
			.onoffswitch-label {
				display: block; overflow: hidden; cursor: pointer;
				border: 2px solid #999999; border-radius: 20px;
			}
			.onoffswitch-inner {
				text-align: left;
				display: block; width: 200%; margin-left: -100%;
				-moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
				-o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
			}
			.onoffswitch-inner:before, .onoffswitch-inner:after {
				display: block; float: left; width: 50%; height: 27px; padding: 0; line-height: 27px;
				font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
				-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
			}
			.onoffswitch-inner:before {
				content: "ON";
				padding-left: 10px;
				background-color: #8FF057; color: #FFFFFF;
			}
			.onoffswitch-inner:after {
				content: "OFF";
				padding-right: 10px;
				background-color: #EEEEEE; color: #999999;
				text-align: right;
			}
			.onoffswitch-switch {
				display: block; width: 18px; margin: 4.5px;
				background: #FFFFFF;
				border: 2px solid #999999; border-radius: 20px;
				position: absolute; top: 0; bottom: 0; right: 41px;
				-moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
				-o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
			}
			.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
				margin-left: 0;
			}
			.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
				right: 0px; 
			}
			
		}
	}
}

// Change Plug's original menu
#app-menu{
	.button{
		background-color: #282C35;
	}

	.list{
		z-index: 98000;
	}
}