// The PlugPro menu addition
#plugpro-menu{
	background-color: #111;
	height: 900px;
	left: 0;
	overflow: hidden;
	position: absolute;
	width: 0;
	z-index: -9999;

	@include transition (width .15s ease-out);

	&.expanded{
		width: 480px;
	}

	.inner-pro-menu{
		margin: 10px;
		margin-left: 190px;
		text-align: center;

		.pro-logo{
			height: 50px;
			margin: 0 auto;
		}
	}
}

// Change Plug's original menu
#app-menu{
	.button{
		background-color: #282C35;
	}

	.list{
		z-index: 98000;
	}
}