.plugpro-pro{

	#plugpro-view-buttons{
		background-color: #282C35;
		height: 33px;
		overflow: hidden;
		top: 54px;

		.plugpro-view-button{
			box-sizing: border-box;
			float: left;
			margin: 0;
			padding: 3px 6px;
			width: percentage( 1/3 );

			&:not(:last-child){
				border-right: 1px solid #1A1A1A;
			}
		}
	}

	#history-button{
		display: none;
	}



	#plugpro-play-history{
		background-color: #111317;
		bottom: 54px;
		position: absolute;
		top: auto !important;
		z-index: 3;

		.row{
			border-bottom: 1px solid #222;
		}

		&.media-list.history{

			.meta{
				border-bottom: none;

				span{
					top: 3px !important;
				}

				.author{
					top: 3px !important;
					width: 100%;
				}

				.name{
					text-align: left;
					left: 1px;
					top: 24px !important;
					width: 100%;
				}

			}

			.score{
				top: 46px !important;
			}
			
		}
	}

	.app-right{
		top: 0;
		z-index: 7;
	}

	#chat-header{
		height: 54px;
	}

	#chat-messages{
		top: 54px;
	}

	#chat-input-field{
		width: 95% !important;
	}

	#chat{
		display: block !important;
	}

	#user-lists{
		display: none !important;
	}

	#waitlist{
		display: none !important;
	}

	.app-header{
		background: none;
		overflow: visible;
	}

	#chat-input{
		width: 95%;
	}

	#room-meta{
		background-color: #1C1F25;
	}

	#header-panel-bar{
		display: none;
	}

	#vote{
		bottom: 54px;
		top: auto !important;

		.crowd-response{
			border-radius: 0 !important;
			box-sizing: border-box;
			margin-right: 0;
			width: percentage( 1/3 );
		}
	}

	#woot, #meh{
		.bottom{
			border-radius: 0 !important;
		}
	}

	#dj-button{
		border-radius: 0;
		bottom: 54px;
		top: auto !important;

		.left{
			border-radius: 0;
		}
	}

	#plugpro-user-lists{
		background-color: #0A0A0A;
		top: 87px;
		min-width: 250px;
		overflow-y: auto;
		padding: 4px;
		position: absolute;
		z-index: 3;

		.plugpro-userlist-list{

			.plugpro-user{
				border: 2px solid #0A0A0A;
				margin: 2px 0;
				padding: 0 4px;

				.icon{
					margin-top: 1px;
				}

				.name{
					margin-left: 20px;
				}

				&.wooted{
					border: 2px solid #90AD2F;
				}

				&.grabbed{
					border: 2px solid #D87F0E;
				}

				&.mehed{
					border: 2px solid #C42E3B;
				}
			}

		}
	}

	#plugpro-waitlist{
		background-color: #0A0A0A;
		bottom: 54px;
		min-width: 200px;
		overflow-y: scroll;
		padding: 4px;
		padding-bottom: 61px;
		position: absolute;
		z-index: 3;


		.plugpro-waitlist-list{
			.plugpro-waitlist-user{
				border-bottom: 1px solid #282C35;
				margin: 2px 0;
				overflow: hidden;
				padding: 0 4px;
				text-overflow: ellipsis;
				white-space: nowrap;

				.position{
					color: #808691;
					font-size: 16px;
					font-weight: bold;
				}

				.icon{
					margin-top: 1px;
				}

				.name{
					color: #FFF;
					margin-left: 20px;
				}

			}
		}
	}

	#plugpro-dj{
		background-color: #44D;
		position: absolute;
		z-index: 3;
	}

	#plugpro-artwork{
		overflow: hidden;
		position: absolute;
		top: 54px;
		z-index: 2;

		.plugpro-artwork-background{
			-webkit-filter: blur(5px) brightness(0.35);
			position: absolute;
			top: -25%;
			width: 100%;
		}

		.plugpro-artwork-small{
			display: block;
			height: 75%;
			margin: 0 auto;
			position: relative;
		}
	}

	.pro-bg-cover{
		background-color: #040404;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 6;

		*{
			box-sizing: border-box;
		}
	}
}