.plugpro-pro{

	#plugpro-view-buttons{
		background-color: #282C35;
		height: 33px;
		overflow: hidden;
		top: 54px;

		.plugpro-view-button{
			box-sizing: border-box;
			float: left;
			margin: 0;
			padding: 3px 6px;
			width: percentage( 1/3 );

			&:not(:last-child){
				border-right: 1px solid #1A1A1A;
			}
		}
	}

	#history-button{
		display: none;
	}

	#history-panel{
		bottom: 54px;
		top: auto !important;

		.media-list.history{
			width: 100% !important;

			.jspContainer{
				width: 100% !important;

				.jspPane{
					width: 97% !important;

					.media-list.history .meta span{
						top: 3px;
					}

					.author{
						top: 3px !important;
						width: 100%;
					}

					.name{
						text-align: left;
						top: 20px;
						width: 100%;
					}

					.timestamp{
						top: 58px;
					}
				}
			}
		}
	}

	.app-right{
		top: 0;
		z-index: 7;
	}

	#chat-header{
		height: 54px;
	}

	#chat-messages{
		top: 54px;
	}

	#chat-input-field{
		width: 95% !important;
	}

	#chat{
		display: block !important;
	}

	#user-lists{
		display: none !important;
	}

	#waitlist{
		display: none !important;
	}

	.app-header{
		background: none;
		overflow: visible;
	}

	#chat-input{
		width: 95%;
	}

	#room-meta{
		background-color: #1C1F25;
	}

	#header-panel-bar{
		display: none;
	}

	#vote{
		bottom: 54px;
		top: auto !important;

		.crowd-response{
			border-radius: 0 !important;
			box-sizing: border-box;
			margin-right: 0;
			width: percentage( 1/3 );
		}
	}

	#woot, #meh{
		.bottom{
			border-radius: 0 !important;
		}
	}

	#dj-button{
		border-radius: 0;
		bottom: 54px;
		top: auto !important;

		.left{
			border-radius: 0;
		}
	}

	#plugpro-user-lists{
		background-color: #0A0A0A;
		top: 87px;
		min-width: 260px;
		padding: 4px;
		position: absolute;
	}

	#plugpro-waitlist{
		background-color: #0A0A0A;
		bottom: 54px;
		min-width: 200px;
		padding: 4px;
		position: absolute;
	}

	#plugpro-dj{
		background-color: #44D;
		position: absolute;
	}

	.pro-bg-cover{
		background-color: #040404;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 6;

		*{
			box-sizing: border-box;
		}
	}
}