$overlay-opacity: 0.7;


.plugpro-video{

	#playback{
		height: 100%;
		left: 0 !important;
		top: 0;
		width: 100%;
	}

	#playback-container{
		height: 100% !important;
		left: 0;
		top: 0;
		width: 100% !important;
	}

	#playback-controls{
		display: block !important;
		top: 55px;
		margin: 0px auto;
		opacity: $overlay-opacity;
		position: relative;

		@extend .fade-out;
	}

	.app-header{
		opacity: $overlay-opacity;

		@extend .fade-out;
	}

	.app-right{
		opacity: $overlay-opacity;

		@extend .fade-out;
	}

	#footer{
		opacity: $overlay-opacity;

		@extend .fade-out;
	}

	#app-menu{
		opacity: $overlay-opacity;

		@extend .fade-out;
	}

	#avatars-container{
		display: none;
	}

	#dj-button{
		opacity: $overlay-opacity;

		@extend .fade-out;
	}

	#vote{
		opacity: $overlay-opacity;

		@extend .fade-out;
	}

	// Apply fadeout when inactive
	&.inactive{
		#playback-controls{
			opacity: 0;
		}

		.app-header{
			opacity: 0;
		}

		#footer{
			opacity: 0;
		}

		#app-menu{
			opacity: 0;
		}

		#dj-button{
			opacity: 0;
		}

		#vote{
			opacity: 0;
		}
	}


	#video-cover{
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 6;
	}
}